* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #FFFFFF;
  margin: 0;
}
.navtop {
  background-color: #3f69a8;
  height: 60px;
  width: 100%;
  border: 0;
}
.navtop div {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
.navtop div h1, .navtop div a {
  display: inline-flex;
  align-items: center;
}
.navtop div h1 {
  flex: 1;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #ecf0f6;
  font-weight: normal;
}
.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #c5d2e5;
  font-weight: bold;
}
.navtop div a i {
  padding: 2px 8px 0 0;
}
.navtop div a:hover {
  color: #ecf0f6;
}
.content {
  width: 1000px;
  margin: 0 auto;
}
.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #ebebeb;
  color: #3f69a8;
}
.read_maintenance .create-contact {
  display: inline-block;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 15px 0;
}
.read_maintenance .create-contact:hover {
  background-color: #32a367;
}
.read_maintenance .pagination {
  display: flex;
  justify-content: flex-end;
}
.read_maintenance .pagination a {
  display: inline-block;
  text-decoration: none;
  background-color: #a5a7a9;
  font-weight: bold;
  color: #FFFFFF;
  padding: 5px 10px;
  margin: 15px 0 15px 5px;
}
.read_maintenance .pagination a:hover {
  background-color: #999b9d;
}
.read_maintenance table {
  width: 100%;
  padding-top: 30px;
  border-collapse: collapse;
}
.read_maintenance table thead {
  background-color: #ebeef1;
  border-bottom: 1px solid #d3dae0;
}
.read_maintenance table thead td {
  padding: 10px;
  font-weight: bold;
  color: #767779;
  font-size: 14px;
}
.read_maintenance_maintenance table tbody tr {
  border-bottom: 1px solid #d3dae0;
}
.read_maintenance table tbody tr:nth-child(even) {
  background-color: #fbfcfc;
}
.read_maintenance table tbody tr:hover {
  background-color: #376ab7;
}
.read_maintenance table tbody tr:hover td {
  color: #FFFFFF;
}
.read_maintenance table tbody tr:hover td:nth-child(1) {
  color: #FFFFFF;
}
.read_maintenance table tbody tr td {
  padding: 10px;
}
.read_maintenance table tbody tr td:nth-child(1) {
  color: #a5a7a9;
}
.read_maintenance table tbody tr td.actions {
  padding: 8px;
  text-align: right;
}
.read_maintenance table tbody tr td.actions .edit, .read_maintenance table tbody tr td.actions .trash {
  display: inline-flex;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 12px;
}
.read_maintenance table tbody tr td.actions .trash {
  background-color: #b73737;
}
.read_maintenance table tbody tr td.actions .trash:hover {
  background-color: #a33131;
}
.read_maintenance table tbody tr td.actions .edit {
  background-color: #37afb7;
}
.read_maintenance table tbody tr td.actions .edit:hover {
  background-color: #319ca3;
}
.update form {
  padding: 15px 0;
  display: flex;
  flex-flow: wrap;
}
.update form label {
  display: inline-flex;
  width: 400px;
  padding: 10px 0;
  margin-right: 25px;
}
.update form input {
  padding: 10px;
  width: 400px;
  margin-right: 25px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
}
.update form input[type="submit"] {
  display: block;
  background-color: #38b673;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  width: 200px;
margin-top: 15px;
}
.update form input[type="submit"]:hover {
  background-color: #32a367;
}
.delete .yesno {
  display: flex;
}
.delete .yesno a {
  display: inline-block;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 15px 10px 15px 0;
}
.delete .yesno a:hover {
  background-color: #32a367;
}


.portal-category {
display: inline-block;
vertical-align: top;
margin: 0 20px 20px 0;
width: calc(20% - 20px);
text-align: center;
}

.category-image {
width: 100%;
height: 100%;
overflow: hidden;
}

.category-image img {
width: 70%;
height: 70%;
object-fit: cover;
}

.category-info {
padding: 20px;
}

@media screen and (max-width: 768px) {
.portal-category {
  display: block;
  margin: 0 auto 20px auto;
  width: 100%;
}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
.portal-category {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto 20px auto;
  width: calc(50% - 20px);
}
}

@media screen and (min-width: 1200px) {
.portal-category {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto 20px auto;
  width: calc(20% - 20px);
}
}



.category-container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
height: 100vh;
}

.parent {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

.portal-category {
border: 2px solid transparent;
transition: border-color 0.5s ease;
}

.portal-category:hover {
border-color: #3f69a8;
}

.category-name {
margin-top: 0;
color: #3f69a8;
background-color: #ffffff;
border: none;
padding: 12px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 20px;
cursor: pointer;
border-radius: 4px;
opacity: 0;
transition: opacity 1s ease;

font-weight: 100;
color: #14d134;
font-family: "Century Gothic";
}

.visit-link {
background-color: #ffffff;
border-color: #3f69a8;
padding: 12px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 20px;
cursor: pointer;
border-radius: 4px;
opacity: 0;
transition: opacity 0.5s ease;
color: #3f69a8;
font-family: "Century Gothic";
}

.portal-category:hover .visit-link {
border-color: #3f69a8;
opacity: 1;
}

.portal-category:hover .category-name {
border-color: #3f69a8;
opacity: 1;
display: inline-block;
}