.section-1 {
    height: 70vh;
    /* adjust the height as needed */
    background-color:rgb(255, 255, 255)
    /* set the background color of the section */
    
}

.curve-section {
    position: relative;
}

.curve {
    position: absolute;
    top: -40px;
    /* position the curve at the top of the curve section */
    left: 0;
    right: 0;
    height: 15vh;
    background: linear-gradient(to right, #a53d3d, #dec418, #a53d3d);
    /* set the background color of the curve */
    border-radius: 100% 100% 0 0;
    /* create the upward curve */
}

.section-2 {
    height: 60vh;
    /* adjust the height as needed */
    background: linear-gradient(to right, #a53d3d, #dec418, #a53d3d);
    /* set the background color of the section */
}

body {
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}


p.par {
    position: relative;
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 4rem;
    text-align: left;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 80px;
    color:white
}

img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    padding-top:70px;
}