table{
    border: 1px solid #15d838;
    margin:auto;
    width: 80%;
    height: 500px;
}

tr{
    border: 1px solid #15d838;
    vertical-align: middle;
}

td{
    text-align:center;
}

tr:hover {
    background-color: #15d838;
    color:rgb(0, 0, 0);
    
}

th{
    border: 1px solid #15d838;
    vertical-align: middle;
}

html {
    background-color: rgb(0, 0, 0);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#15d838;
  }
  