.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}

.container
{
	
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #ccc;
	
}

h1
{
	
	text-align: center;
	margin-bottom: 15px;
	font-weight: bold;
	border: none;
	
}

form label
{
	
	display: block;
	margin-bottom: 15px;
	font-weight: bold;
	border: none;
	
}

form input[type="date"]
{
	
	padding: 8px 12px;
	border-radius: 5px;
	border: none;
	margin-bottom: 15px;
	
}

form input[type="submit"]
{
	
	padding: 8px 12px;
	border-radius: 5px;
	border: none;
	background-color: #2aa83f;
	color: #fff;
	cursor: pointer;
	
}


