.container
{
	
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #ccc;
	
}

h1
{
	
	text-align: center;
	margin-bottom: 15px;
	font-weight: bold;
	border: none;
	
}

form label
{
	
	display: block;
	margin-bottom: 15px;
	font-weight: bold;
	border: none;
	
}

form input[type="date"]
{
	
	padding: 8px 12px;
	border-radius: 5px;
	border: none;
	margin-bottom: 15px;
	
}

form input[type="submit"]
{
	
	padding: 8px 12px;
	border-radius: 5px;
	border: none;
	background-color: #2aa83f;
	color: #fff;
	cursor: pointer;
	
}
